<ul class="nav navbar-nav">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
		   aria-expanded="false">
			Project
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">

			<li class=""><span class="glyphicon glyphicon-th-list"></span> 我创建的</li>
			<li role="separator" class="divider"></li>
			{% for project in created_projects %}
				<li><a href="#">{{ project.name }}</a></li>
			{% endfor %}
			<li role="separator" class="divider"></li>

			<li><span class="glyphicon glyphicon-cloud"></span> 我参与的</li>
			{% for project in joined_projects %}
				<li><a href="#">{{ project.name }}</a></li>
			{% endfor %}
			<li role="separator" class="divider"></li>
		</ul>
	</li>
</ul>