{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>
        {% block title %}
            Project
        {% endblock title %}
    </title>

    {% block css %}
        <style>
            body {
                background-image: linear-gradient(to right , #30cfd0, #330867);
            }
        </style>
    {% endblock css %}

    {% block style %}
    {% endblock style %}

</head>
<body>
{% block head %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">首页</a>
            </div>
        </div>
    </nav>
{% endblock head %}
{% block content %}
{% endblock content %}

{% block js %}
{% endblock js %}

</body>
</html>