{% extends 'extends/project-base.html' %}
{% load project %}

{% block css %}
{% endblock css %}
{% block head-content %}
	<ul class="nav navbar-nav">
		{% manage_nav_bar request project %}
	</ul>
{% endblock head-content %}

{% block content %}
	{% block panel-content %}
		<div class="container-fluid project">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% block panel-head %}
					{% endblock panel-head %}
				</div>
				<div class="panel-body">

					{% block panel-body %}

					{% endblock panel-body %}
				</div>
			</div>

		</div>
	{% endblock panel-content %}
{% endblock content %}