{#{% with id=widget.attrs.di %}#}
{#	<div#}
{#			{% if id %}#}
{#				id="{{ id }}"#}
{#			{% endif %}#}
{#			{% if widget.attrs.class %}#}
{#				class="{{ widget.attrs.class }}"#}
{#			{% endif %}>#}
{#		231423#}
{#		{% for group,options,index in widget.optgroups %}#}
{#			{% for option in options %}#}
{#				<label#}
{#						{% if option.attrs.id %}#}
{#							{{ option.attrs.id }}#}
{#						{% endif %}#}
{#				>#}
{#					{% include option.template_name with widget=option %}#}
{#				</label>#}
{#			{% endfor %}#}
{##}
{#		{% endfor %}#}
{#	</div>#}
{#{% endwith %}#}