{% extends 'extends/project-base.html' %}
{% load project %}
{% load static %}
{% block css %}
	<style>
        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-default > .panel-heading a {
            text-decoration: none;
        }

        .panel-default > .panel-heading span {
            padding: 0 5px;
        }

        .right_function_div {
            display: inline;
        }
	</style>
	{#	<link href=" {% static 'bootstrap-fileinput/css/fileinput.css' %}" type="text/css" rel="stylesheet"/>#}
	{#	<script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>#}
	{#	<script src="{% static 'bootstrap-fileinput/js/locales/zh.js' %}"></script>#}

	<style>

        .upload_file {
            position: relative;
            display: inline-block;
		{#超过的部分隐藏#} overflow: hidden;
        }

        .upload_file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .upload-progress {
            padding: 0;
            min-width: 200px;
            position: fixed;
            right: 2px;
            bottom: 2px;
        }

        .progress-error {
            color: red;
        }
	</style>
{% endblock css %}

{% block head-content %}
	<ul class="nav navbar-nav">
		{% manage_nav_bar request project %}
	</ul>
{% endblock head-content %}



{% block content %}
	<div class="container-fluid">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading flex-column">
				<div>
					<a href="{% url 'file_home' project_id %}">
						<span class="glyphicon glyphicon-home"></span>
						{{ project.name }}
					</a>
					{% for path in dir_path %}
						<a href="{% url 'file_home' project_id %}?folder_id={{ path.id }}">
							<span class="glyphicon glyphicon-chevron-right"></span>
							{{ path.name }}
						</a>
					{% endfor %}
				</div>
				<div class="right_function_div">
					<a type="button" class="btn btn-success btn-xs"
					   data-toggle="modal" data-target="#modal"
					   data-whatever="新建"
					>
						<span class="glyphicon glyphicon-plus" aria-hidden="true">新建文件夹</span>
					</a>
					<div class="btn btn-info btn-xs upload_file">
						<span class="glyphicon glyphicon-open" aria-hidden="true">upload</span>
						<input class="btn btn-info btn-xs" type="file" multiple
						       name="upload_file" id="upload_file" onchange="uploadChange()">
					</div>
				</div>
			</div>

			<!-- Table -->
			<table class="table">
				<thead>
				<tr>
					<th>文件名</th>
					<th>文件大小</th>
					<th>更新者</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				{% for file in file_list %}
					<tr>
						<td>
							{% if file.file_type == 2 %}
								<a href="{% url 'file_home' project_id %}?folder_id={{ file.id }}">
									<span class="glyphicon glyphicon-folder-open"></span> {{ file.name }}
								</a>
							{% else %}
								<span class="glyphicon glyphicon-file"></span>
								{{ file.name }}
							{% endif %}
						</td>
						{% if file.file_type == 1 %}
							{#							文件删除#}
							<td>{{ file.file_size }}</td>
						{% else %}
							<td>-</td>
						{% endif %}
						<td>{{ file.update_user }}</td>
						<td>{{ file.update_datetime }}</td>
						<td>
							{% if file.file_type == 2 %}
								<a type="button" class="btn btn-default btn-xs"
								   data-toggle="modal" data-target="#modal"
								   data-whatever="编辑文件夹" data-name="{{ file.name }}"
								   data-fid="{{ file.id }}"
								>
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
							{% elif file.file_type == 1 %}
								<a type="button" class="btn btn-default btn-xs"
								   href="{% url 'file_download' %}?bucket={{ project.bucket }}&file_key={{ file.key }}&file_name={{ file.name }}">
									<span class="glyphicon glyphicon-save"></span>
								</a>
							{% endif %}
							<a type="button" class="btn btn-danger btn-xs"
							   data-toggle="modal" data-target="#deleteModal"
							   data-whatever="删除" data-name="{{ file.name }}"
							   data-fid="{{ file.id }}"
							>
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

	<div id="upload-progress" class="upload-progress hide">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-upload" aria-hidden="true">
					上传进度
				</span>
			</div>

			<table class="table">
				<tbody id="progress_list">

				</tbody>
			</table>
		</div>
	</div>

	<div class="hide">
		<table id="progress_template">
			<tr>
				<td>
					<div class="name"></div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
						     aria-valuemax="100" style="width: 0;">
							<span class="sr-only">0%</span>
						</div>
					</div>
					<div class="progress-error"></div>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="alert alert-danger alert-dismissible fade in" role="alert">
				<h4>真的要删除么??!!(唔唔)</h4>
				<p>
					文件夹下的所有文件都会被删除
				</p>
				<p>
					<button id="btnDelete" type="button" class="btn btn-danger" onclick="deleteFile()">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
						取消
					</button>
				</p>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<form class="file-form" id="file-form" novalidate>
						{% csrf_token %}
						<label for="fid"></label>
						<input hidden type="text" name="fid" id="fid">
						{% for field in form %}
							<div class="form-group">
								<label for="{{ field.id_for_label }}"
								       id="{{ field.id_for_label }}">{{ field.label }}</label>
								{{ field }}
							</div>
						{% endfor %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="onSubmitBtnClicked()">Submit</button>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block js %}
	<script type="text/javascript" src="{% static 'web/js/util.js' %}"></script>
	<script>

        const bucket = '{{ project.bucket }}'
        const folder_id = '{{ parent_obj.id }}'
        $(function () {
            initAddModal();
        })

        function uploadChange() {
            // 向后台获取一个上传文件的url
            const input_ = $('#upload_file')[0];
            const files = input_.files;
            const upload_progress = $('#upload-progress')
            upload_progress.removeClass('hide');
            $.each(files, function (idx, file) {
                // 通过 file_name 和 project_id 向后台获取 put 链接
                const tr_label = $('#progress_template').find('tr').clone();
                tr_label.find('.name').text(file.name);
                $('#progress_list').append(tr_label);
                $.ajax({
                    url: '{% url 'get_upload_url' %}',
                    method: 'post',
                    data: {
                        'bucket': bucket,
                        'file_name': file.name,
                        'folder_id': folder_id
                    },
                    success: function (res) {
                        if (res.status) {
                            console.log('获取url成功' + res.url);
                            // 向minio 发送文件
                            fetch(res.url, {
                                method: 'PUT',
                                body: file
                            }).then(response => {
                                console.log('fetch成功');
                                $.ajax({
                                    url: '{% url 'upload_success' project_id%}',
                                    method: 'post',
                                    data: {
                                        'file_name': file.name,
                                        'file_size': file.size,
                                        'folder_id': folder_id,
                                    },
                                    success: function (res) {
                                        if (res.status) {
                                            tr_label.find('.progress-bar').text('100%');
                                            tr_label.find('.progress-bar').css('width', '100%');
                                            location.reload()
                                        } else {
                                            tr_label.find('.progress-error').text('上传失败')
                                        }
                                    },
                                })
                                return response;
                            }).catch(ex => {
                                console.log('fetch失败');
                                tr_label.find('.progress-error').text('上传失败')
                            })
                        } else {
                            console.log('获取url失败')
                            tr_label.find('.progress-error').text('上传失败')
                        }
                    },

                })
            });
        }

        function initAddModal() {
            // 绑定了 bs show 时间
            $('#modal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget); // Button that triggered the modal
                const recipient = button.data('whatever'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                const modal = $(this);//触发这个函数的对象
                modal.find('.modal-title').text(recipient);
                //
                const fid = button.data('fid');
                const name = button.data('name');
                // 编辑时
                if (fid) {
                    // modal.find('id_name').text(name);
                    console.log(fid)
                    modal.find('#fid').val(fid)
                    console.log(modal.find('#fid'))
                } else {
                    // 新建时
                    document.getElementById('file-form').reset();
                }
            });
            $('#deleteModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget); // Button that triggered the modal
                const modal = $(this);//触发这个函数的对象
                //
                const fid = button.data('fid');
                modal.find('#btnDelete').attr('fid', fid);
            })
        }

        function deleteFile() {
            // 获取要删除的id
            const fid = $('#btnDelete').attr('fid');
            console.log(fid);
            $.ajax({
                url: '{% url 'file_delete' project_id %}',
                method: 'get',
                data: {'fid': fid},
                success: function (res) {
                    console.log(res);
                    if (res.status) {
                        location.reload()
                    }
                }
            });
        }

        function onSubmitBtnClicked() {
            const check_data = form_check('#file-form');
            const file_data = check_data['data'];
            console.log(file_data)
            $.ajax({
                url: location.href,
                type: 'post',
                data: file_data,
                success: function (res) {
                    if (res.status) {
                        console.log('success')
                        location.reload()
                    } else {
                        $.each(res.error, function (key, value) {
                            const id_ = $('#id_' + key);
                            setTimeout(function () {
                                id_.popover('hide')
                            }, 3000);
                            id_.attr('data-content', value)
                            id_.popover('show')
                        })
                    }
                }
            });
        }
	</script>
{% endblock js %}