{% extends 'extends/project-base.html' %}
{% load static %}

{% block css %}
	<style>
        body {
            background-image: linear-gradient(to right, #30cfd0, #ffffff);
        }

        .project {
            margin-bottom: 10px;
        }

        .panel-body > .item {
            border-radius: 6px;
            width: 228px;
            border: 1px solid #dddddd;
            margin: 20px 10px;
        }

        .panel-body > .item:hover {
            border: 1px solid #f0ad4e;
        }

        .panel-body > .item > .title {
            height: 104px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            font-size: 15px;
            text-decoration: none;

        }

        .panel-body > .item > .info {
            padding: 10px 10px;
            display: flex;
            justify-content: space-between;

            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            color: #8c8c8c;
        }

        .panel-body > .item > .info a {
            text-decoration: none;
        }

        .panel-body > .item > .info .glyphicon-star {
            font-size: 18px;
        }

	</style>
{% endblock css %}


{% block content %}
	<div class="container-fluid project">
		<a class="btn btn-primary" role="button" data-toggle="modal" data-target="#addModal">
			<span class="glyphicon glyphicon-plus"></span>
			创建项目
		</a>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-star"></span>
				Star Project
			</div>
			<div class="panel-body">
				{% for project in star_projects %}
					<div class="item">
						<a href="#" class="title"
						   style="background-color:{{ project.get_color_display }} ;">{{ project.name }}
						</a>
						<div class="info">
							<div>
								<a href="#">
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</a>
								<span>{{ project.creator.username }}</span>
							</div>
							<div>
								<span class="glyphicon glyphicon-user" aria-hidden="true">
									{{ project.join_count }}
								</span>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-star"></span>
				Created Project
			</div>
			<div class="panel-body">

				{% for project in create_projects %}
					<div class="item">
						<a href="#" class="title"
						   style="background-color:{{ project.get_color_display }} ;">{{ project.name }}
						</a>
						<div class="info">
							<div>
								<a href="#">
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</a>
								<span>{{ project.creator.username }}</span>
							</div>
							<div>
								<span class="glyphicon glyphicon-user" aria-hidden="true">
									{{ project.join_count }}
								</span>
							</div>
						</div>

					</div>
				{% endfor %}

			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-star"></span>
				Joined Project
			</div>
			<div class="panel-body">
				{% for project in join_projects %}
					<div class="item">
						<a href="#" class="title"
						   style="background-color:{{ project.get_color_display }} ;">{{ project.name }}
						</a>
						<div class="info">
							<div>
								<a href="#">
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</a>
								<span>{{ project.creator.username }}</span>
							</div>
							<div>
								<span class="glyphicon glyphicon-user" aria-hidden="true">
									{{ project.join_count }}
								</span>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Modal title</h4>
					</div>
					<div class="modal-body">

						<form id="create_form">
							{% csrf_token %}
							{% for field in form %}
								<div class="form-group">
									<label for="{{ field.id_for_label }}">{{ field.label }}</label>
									{{ field }}
									{#									<span class="error-msg"></span>#}
								</div>
							{% endfor %}
						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="submit_btn" onclick="on_create_submit()">
							Create
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block js %}
	<script>
        function on_create_submit() {
            const check_data = form_check('#create_form');
            const create_data = check_data['data'];
            $.ajax({
                url: '{% url 'project_list' %}',
                type: 'post',
                data: create_data,
                dataType: "JSON",
                success: function (res) {
                    console.log(res);
                    if (res.status) {
                        console.log('成功')
                        //刷新一下页面
                        location.reload()
                    } else {
                        $.each(res.error, function (key, value) {
                            const id_ = $('#id_' + key);
                            setTimeout(function () {
                                id_.popover('hide')
                            }, 3000);
                            id_.attr('data-content', value)
                            id_.popover('show')
                        })
                    }
                }
            })
        }
	</script>
{% endblock js %}