{% extends 'extends/base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}


{% block css %}

{% endblock css %}
{% block style %}
<link rel="stylesheet" href="{% static 'web/css/account.css' %}">
{% endblock style %}

{% block content %}
<div class="account">
    <div class="title">
        用户注册
    </div>
    <form id="form" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
{#            formModel自动生成input标签#}
{#            对验证码的检测#}
            {% if field.name == 'code' %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="clearfix no_align_padding" >
                    <div class="col-md-6 no_align_padding">{{ field }}</div>
                    <div class="col-md-6 no_align_padding">
                        <input type="button" value="click to get code" class="btn btn-default">
                    </div>
                </div>
{#                非验证码的处理#}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">register</button>
    </form>
</div>
{% endblock content%}