{% extends 'web/wiki.html' %}
{% load static %}
{% block panel-body-right %}
	<form method="post" novalidate id="add_wiki_form" onsubmit="return false">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group">
				<label for="{{ field.id_for_label }}">{{ field.label }}</label>
				{% if field.name == 'content' %}
					<div id="markdown_edit" class="flex-fill">
						{{ field }}
					</div>
				{% else %}
					{{ field }}
				{% endif %}
			</div>
		{% endfor %}
		<button type="submit" class="btn btn-default" onclick="SubmitBtnClick()">Submit</button>
	</form>
{% endblock panel-body-right %}

{% block form_js %}
	<script type="text/javascript" src="{% static 'web/js/util.js' %}"></script>
	<script>
        function SubmitBtnClick() {
            const check_data = form_check('#add_wiki_form');
            const wiki_data = check_data['data'];
            $.ajax({
                url: '{% url 'wiki_add' project.id %}',
                type: 'post',
                data: wiki_data,
                success: function (res) {
                    if (res.status) {
                        console.log('成功')
                        location.reload()
                    } else {
                        console.log('失败')
                        $.each(res.error, function (key, value) {
                            const id_ = $('#id_' + key);
                            setTimeout(function () {
                                id_.popover('hide')
                            }, 3000);
                            id_.attr('data-content', value)
                            id_.popover('show')
                        })
                    }
                }
            })
        }
	
	</script>
{% endblock form_js %}
{% block other_js %}
	<script>
        $(function () {
            init_markdown()// init markdown
        })

        function init_markdown() {
            // id + 配置
            editormd('markdown_edit', {
                placeholder: '请输入内容',
                height: 500,
                path: '{% static 'editor.md/lib' %}/',
            })
        }
	</script>
{% endblock other_js %}